{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block head %}
<style>
.div {
    padding-left:35%;
    padding-right:35%;
    padding-top:8%;
}
.div2 {
    padding-left:5%;
    padding-right:5%;
    padding-top:2%;
    padding-bottom:2%;
   
    border-style:solid;
    border-color:#dadce0;
    border-radius: 25px;

}
</style>
{% endblock %}
{% block body %}
<div class="div">
<div class="div2">
<form method="post">
    
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="input">
    <h1 class="h3 mb-3 font-weight-normal">Connexion au site</h1>
    <label for="inputEmail">Entre ton email</label>
    <input placeholder ="Adresse e-mail" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    </div>
    <div class="input">
    <label for="inputPassword">Et ici ton mot de passe</label>
    <input placeholder ="Mot de passe" type="password" name="password" id="inputPassword" class="form-control" required>
    </div>
    <input type="" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}" hidden
    >

    
        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html #}

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    
    
    <a href="/incription/user" style="padding-bottom:10px">Vous n'avez pas de compte?</a>
    </br>
    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
    
</form>
</div>
</div>
{% endblock %}
